.secProyectos{
    padding: 1.5rem 2rem;
}

.div-item{
    margin-top: 2.3rem;
    border-bottom: 1px solid rgb(113, 110, 110);
    padding: 0rem 1rem;
    
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1.2rem 20rem 25rem 27rem repeat(3, auto);
    grid-template-rows: repeat(2,2rem);
    align-items: center;
}

.c-tit-cuadrito{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadrito-project{
    background-color: black;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
}

.tit-Nombre{
    font-size: 1.2rem;
    margin-left: 1rem;
}

.stack-div{
    display: flex;
    justify-content: center;
}

.a-githubPage{
    text-decoration: none;
    color: black;
}

.btn-Github{
    width: 100%;
    max-width: 8rem;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined{
    text-decoration: none;
    color: black;
}

@media only screen and  (max-width: 452px) {
    .secProyectos{
        width: 100%;
    }
    
    .div-item{
        width: 100%;
        background-color: rgb(224, 224, 224);
        border-radius: 3px;
        margin-top: 5rem;
        border-bottom: 1px solid rgb(113, 110, 110);
        padding: 0rem 1rem;
        
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    
    }
    
    .cuadrito-project{
        grid-column: 1/2;
        grid-row: 1/2;

        background-color: black;
        width: 2rem;
        height: 2rem;
        border-radius: 3px;
    }
    
    .tit-Nombre{
        grid-column: 1/2;
        grid-row: 1/2;

        font-size: 1.2rem;
        margin-left: 3rem;
    }
    
    .stack-div{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        justify-content: start;
        font-size: 1.5rem;
        width: auto;
    }
    
    .descripcion-text{
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 1.5rem;
    }

    .fecha{
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 1.5rem;
    }
    
    .btn-Github{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .material-symbols-outlined{
        grid-column: 1/2;
        grid-row: 6/7;

        text-decoration: none;
        color: black;
    }
    
}